body {
    font-family: Roboto, Ariel;
    padding-bottom: 75px;
}

.nav-bar {
    background-color: lightblue;
    border-color: lightcoral;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font: 50px;
}

.nav-link {
    margin: auto;
    /* border-color: lightcoral;
    border-style: solid;
    border-width: 2px; */
}

.nav-text {
    color: black;
    text-decoration: none;
    font-size: 60px;
    font-weight: 500;
}

.nav-text:hover {
    color: rgb(134, 24, 24);
}

/* .nav-text {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    font-size: 35px;
    text-align: center;
    font-family: Roboto, Ariel;
    font-weight: bold;
    border-color: lightseagreen;
    border-style: solid;
    border-width: 2px;
} */

.section {
    background-color: lightblue;
    border-color: lightcoral;
    border-style: solid;
    border-width: 2px;
    padding-left: 20px;
    margin-top: 20px;
}

.p-header {
    border-color: lightcoral;
    border-style: solid;
    border-width: 2px;
    font-size: 45px;
    font-weight: 500;
    margin-top: 10px;
}

.p-sub {
    border-color: lightcoral;
    border-style: solid;
    border-width: 2px;
    font-size: 35px;
    font-weight: 500;
    font-style: italic;
}

.content {
    display: grid;
    grid-template-columns: 15fr 2fr;
}

.content-p {
    font-size: 25px;
    margin-top: 0;
    padding-right: 30px;
}

.content-img {
    width: 100%;
}